body{
    width: 100%;
    height: 85vh;
    background-color: lightgray;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

.instagram-header{
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post{
    width:500px;
    height:auto;
    margin: 20px auto;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.post .post-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.post-header .fecha{
    color: gray;
}

.post .post-body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.post .post-body img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.post .post-footer{
    width: 100%;
    padding: 10px 5px 10px 5px;
}

